:root {
  --primary: #53A93E;
  --bg: #F5EEC8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffff;
  height: 100vh;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0F993E;
  background-color: #53A93E;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar a {
  color: #F5EEC8;
  text-decoration: none;
}

.navbar ul li {
  position: relative;
  float: left;
  display: block;
}

.navbar ul li a {
  display: block;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  align-self: flex-end;

}

.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  display: none;
  background-color: #53A93E;
}

.navbar ul li ul li {
  width: 100%;
  border-top: 1px solid #0F993E;
  align-self: center;
}

.navbar ul li:hover > ul {
  display: block;
}

.box {
  height: 45px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background: #fff;
  border-radius: 30px;
}

.box a {
  color: #333;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 7000;
  color: #FBFBFB;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.navbar .navbar-logo span {
  color:#F5EEC8;
}
.slogan{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 500px;
} 

.slogan .content{
 position: relative;
 padding-right: 0;
 font-size: 60px;
 bottom: 50px;
 color: #53A93E;

} 

.slogan .content .s1{
  position: relative;
 right: 70px;
   } 

.slogan .content .s2{
color: #D1B44D;
 } 

.gambarberanda {
  position: relative;
  width: 650px;
  height: auto;
  margin-left: 800px;
  bottom: 500px;
  left: 50px; 
}

